<h1>www.sponsoryourhealth.com</h1>
<h4>A website that helps you as an individual or a group of people reach a common goal of getting healthier.</h4>

<p>
First and foremost, hello and thank you for coming to my site.

<p>
The purpose of this site is to help a person or a group of people get healthier. Through a very simple and easy-to-use site, you will be able to create a challenge, invite others to join you, and then invite others to sponsor you. Unlike other sites, these challenges are private and done with people you know whether it be  colleagues, friends, family, or your spouse. Of course, nothing is stopping you from doing a challenge as an individual.

<p>
We will track your progress over time and show you with clear charts and tables how you're doing and how other people in your challenge are doing.
As the moderator of the challenge you can define metrics for winning, register weigh-ins on any schedule that is convenient for you or your group, and set the end date of the challenge. As participants, you can invite people to sponsor you. As a group, you can collect money for a charity and help others while you help yourself.

<p>
I work on this site in my spare time and am planning on launching it this year. If you think this is something you would be interested in, or if you simply have a question, please use the form below to let me know. Your e-mail address will be kept completely private. You'll get one e-mail thanking you for stopping by, you'll get another e-mail answering your question or questions if you had any, and then when the site launches, you'll get one final e-mail letting you know. 
